:root {
    /* Color palette */
    --eerie-black: #181818ff;
    --eerie-black-2: #1d1d1dff;
    --eerie-black-3: #212121ff;
    --jet: #272828ff;
    --jet-2: #292a2aff;
    --platinum: #d9e4e2ff;
    --azure-web: #e6f2f0ff;
    --azure-web-2: #f3fffdff;
}

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--eerie-black);
}

header {
    background: rgba(29, 29, 29, 0.76);
    color: var(--text);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid rgba(41, 42, 42, 0.664);
    backdrop-filter: blur(6px);
}

nav {
    gap: 1rem;
    justify-content: end;
    padding: 4px;
}

button {
    background: none;
    border: none;
    color: var(--azure-web);
    font-size: medium;
}
button:active {
    color: var(--platinum);
}
main {
    padding-top: 40px ;
    flex: 0 0 auto;
}

.container {
    flex: 1 1 0;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: "main sidebar";
}
#input{
    overflow-wrap: anywhere;
}

#editor {
    width: 100%;
    
}

textarea {
    font-size: large;
    height: 100%;
    max-height: 100%;
    width: fit-content;
    padding: 20px;
    margin: 20px;
    resize: none;
    background-color: var(--eerie-black);
    color: var(--azure-web);
    border: 1px solid var(--eerie-black-3);
    outline: none;
}

/* Preview */
.markdown
 {
    color: var(--platinum);
    background: var(--eerie-black-3);
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--jet-2);
    border-radius: 6px;
}

.markdown
 h1,
.markdown
 h2,
.markdown
 h3 {
    color: var(--azure-web-2);
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

.markdown
 a {
    color: #1e88e5;
    text-decoration: none;
}

.markdown
 a:hover {
    text-decoration: underline;
}

.markdown
 code {
    background: #111;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

.markdown
 blockquote {
    border-left: 4px solid #444;
    padding-left: 12px;
    color: #eee;
    margin: 10px 0;
}

.markdown
 ul,
.markdown
 ol {
    padding-left: 20px;
}

.markdown
 img {
    max-width: 90%;
    border-radius: 4px;
}
.markdown
 .code_block {
    background-color: #1e88e5;
}

.markdown
 .blue {
    color: rgb(92, 128, 207);
}
.markdown
 .green {
    color: rgb(76, 245, 76);
}