html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-content: end;
    padding: 4px 8px;
    background-color: lch(28.85% 0 296.81 / 0.377);
    backdrop-filter: blur(4px);
    z-index: 1000;
}

main {
    background: #222;
    flex: 0 0 auto;
}

.container {
    flex: 1 1 0;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: "main sidebar";
}
#input, #preview {
    overflow-wrap: anywhere;
}
#preview {
    overflow-x: scroll;
}
textarea {
    width: 100%;
    height: 100%;
    max-height: 100%;
    resize: none;
    background-color: #111;
    color: #eee;
    border:none;
}
textarea{
    outline: none;
}

/* Preview */

.markdown
 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #eee;
    background: #222;
    padding: 20px;
    border-left: 2px solid #333;
}

.markdown
 h1,
.markdown
 h2,
.markdown
 h3 {
    color: #ddd;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

.markdown
 a {
    color: #1e88e5;
    text-decoration: none;
}

.markdown
 a:hover {
    text-decoration: underline;
}

.markdown
 code {
    background: #111;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

.markdown
 blockquote {
    border-left: 4px solid #444;
    padding-left: 12px;
    color: #eee;
    margin: 10px 0;
}

.markdown
 ul,
.markdown
 ol {
    padding-left: 20px;
}

.markdown
 img {
    max-width: 90%;
    border-radius: 4px;
}
.markdown
 .code_block {
    background-color: #1e88e5;
}

.markdown
 .blue {
    color: blue;
}
.markdown
 .green {
    color: green;
}