@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --light: #F3FFFD;
    --light-1: #E6F2F0;
    --light-2: #D9E4E2;
    --light-3: #818786;
    
    --dark: #272725;
    --dark-1: #2B2B29;
    --dark-2: #323230;
    --dark-3: #393938;
    --dark-4: #484847;

    /* Transpaternt */
    --t-dark-1: #27272580;
    --t-dark-4: #2B2B2980;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--dark);
    color: var(--light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--t-dark-1);
    padding: 8px;
    border-bottom: 1px solid var(--t-dark-4);
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    display: flex;
    gap: 8px;
}

button {
    background: var(--dark-3);
    border: 2px solid var(--dark-4);
    border-radius: 4px;
    padding: 4px 12px;
    color: var(--light-2);
    font-family: 'Courier New', Courier, monospace;
}
button:hover, button:active {
    filter: brightness(1.2);
}

kbd {
    background: var(--dark-1);
    border: 2px solid var(--dark-4);
    border-bottom: 8px solid var(--dark);
    border-radius: 8px;
    padding: 4px 12px;
}

kbd:hover {
    background: var(--dark-4);
    border-color: var(--dark-1);
    border-bottom-color: var(--dark-1);
}

#manual_update:disabled {
    display: none;
}

.container {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.input, .output {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.text_box {
    font-family: "Fira Code", monospace;
    background-color: var(--dark);
    border: 1px solid var(--dark-4);
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    overflow: auto;
}

textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: var(--light-1);
    font-size: 15px;
    resize: none;
    outline: none;
    line-height: 1.5;
    text-spacing-trim: 1em;
}

textarea::placeholder {
    color: var(--light-3);
}

.output {
    background-color: var(--dark-2);
    border: 1px solid var(--dark-4);
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    overflow: auto;
    color: var(--light);
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

pre code {
    font-family: "Fira Code", monospace;
    font-size: 15px;
}