@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --foreground: #f8f8f2;
    --highlight: #393938;
    --background: #272725;

    --red:#FF6D6D;
    --orange:#FFB964;
    --yellow:#FAFF76;
    --green:#90FF7A;
    --cyan:#5CF1FF;
    --blue: #609DFF;
    --purple:#8771FF;
    --pink:#FF83FF;
    --gray:#484847;

}

.output
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.55;
    font-size: 18px;
    font-weight: 400;
  }
.output h1 {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
  font-size: 36px;
  font-weight: 700;
}
.output h2 {
    margin-top: 1.4em;
    margin-bottom: 0.4em;
    font-size: 30px;
    font-weight: 700;
}
.output h3 {
    margin-top: 1.4em;
    margin-bottom: 0.4em;
    font-size: 24px;
    font-weight: 700;
}
.output p {
  margin: 0.7em 0;
}
.output a {
  color: var(--green);
  text-decoration: none;
}
.output a:hover {
  text-decoration: underline;
}
.output pre > code {
  font-family: "Fira Code", monospace;
  font-size: 15px;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--highlight);
  border-radius: 8px;
  padding: 16px;
}
.output code {
  font-family: "Fira Code", monospace;
  font-size: 15px;
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--highlight);
  border-radius: 4px;
  padding: 4px 8px;
}
.output blockquote {
  margin: 1em 0;
  border-left: 4px solid var(--gray);
  padding: 2px 0;
  padding-left: 16px;
  background: var(--highlight);
}
.output hr {
  border-bottom: 1px solid var(--background);
  height: 0%;
  margin: 2em 0;
  background: var(--background);
}
.output table {
  font-size: 16px;
  border-collapse:collapse;
  width: 100%;
  padding: 8px;
}
.output th, td {
  border: 1px solid var(--gray);
  padding: 8px 12px;
  text-align: left;
} 
.output th {
  background: var(--background);
}
.output td {
  background: var(--highlight);
}
.output img {
  max-width: 100%;
  border-radius: 6px;
}
.output ul, ol {
  margin: 12px 0 12px 32px;
  padding: 0;
  font-size: 16px;
}
.output ul li {
  list-style-type: disc;
  margin: 6px 0;
}
.output ol li {
  list-style-type: decimal;
  margin: 6px 0;
}

.hljs {
    display: block;
    padding: 1em;
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--highlight);
    border-radius: 8px;
    overflow: scroll;
    margin: 25px 0;
  }
  .hljs-comment,
  .hljs-quote {
    color: var(--gray);
    font-style: italic;
  }
  .hljs-keyword, 
  .hljs-meta {
    color: var(--pink);
    font-weight: bold;
  }
  .hljs-selector-tag,
  .hljs-literal {
    color: var(--orange);
  }
  .hljs-name {
    color: var(--orange);
  }
  .hljs-attribute {
    color: var(--blue);
  }
  .hljs-number,
  .hljs-regexp {
    color: var(--red);
    font-weight: 600;
  }
  .hljs-link {
    color: var(--cyan);
  }
  .hljs-string{
    color: var(--green);
  }
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst {
    color: var(--pink);
  }
  .hljs-title,
  .hljs-section {
    color: var(--purple);
    font-style: italic;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-function{
    color: var(--cyan);
    font-weight: bold;
  }
.hljs-variable {
  color:var(--purple);
}
.hljs-class{
  color: var(--red);
}