:root {
    --foreground: #E6F2F0;
    --grey: #505050;
    --background: #242424;

    --red:#FA686A;
    --orange:#FF8352;
    --yellow:#FECB02;
    --green:#57C78B;
    --cyan:#71D6CA;
    --blue:#4D9DE0;
    --purple:#7776BC;
    --pink:#FEC1C9;
}

.hljs {
    display: block;
    padding: 1em;
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--grey);
    border-radius: 8px;
  }
  .hljs-comment,
  .hljs-quote {
    color: var(--grey);
    font-style: italic;
  }
  .hljs-keyword {
    color: var(--red);
    font-weight: bold;
  }
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-name {
    color: var(--blue);
  }
  .hljs-attribute,
  .hljs-meta {
    color: var(--orange);
  }
  .hljs-number,
  .hljs-regexp,
  .hljs-link {
    color: var(--orange);
  }
  .hljs-string{
    color: var(--green);
  }
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst {
    color: var(--cyan);
  }
  .hljs-title,
  .hljs-section {
    color: var(--purple);
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }